@model IEnumerable<CareHoursWebApp.Models.CareHours>

<p>
    <a asp-action="Create" asp-controller="CareHours" asp-route-id="@ViewBag.ChildId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChildId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="CareHours" asp-route-id="@item.EventId" asp-route-childId="@ViewBag.ChildId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
